<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  <link rel="stylesheet" href="../assets/css/rest.css">
  <link rel="stylesheet" href="../assets/js/layui/css/layui.css">

  <!--引入vue玩玩-->
  <script src="js/vue.min.js"></script>
  <title>首页</title>
  <style>
    html,
    body {
      font-size: 10px;
    }

    .imgContainer{
      display: inline-block;
      height: 100px;
      margin-left: 1%;
      border: 1px solid #30a5ff;
      position: relative;
      box-sizing: border-box;
      margin-bottom: 5px;
    }

    .imgContainer img{
      width: 100%;
      height: 150px;
      cursor: pointer;
    }

    .imgContainer p{
      position: absolute;
      bottom: -1px;
      left: 0;
      width: 100%;
      height: 30px;
      background: black;
      text-align: center;
      line-height: 30px;
      color: white;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      display: none;
    }

    .imgContainer:hover p{
      display: block;
    }

    .layui-tab-content{
      padding: initial;
    }
    .layui-tab-title li{
      padding: initial;
      width: 48%;
    }

    
  </style>
</head>

<body>
  <input type="hidden" id="humanPageIndex" name="humanPageIndex" value="1" />
  <input type="hidden" id="humanPageSize" name="humanPageSize" value="5" />

  <div class="head">
  </div>
  <div id="humanHistory" class="content" style="width: 100%;">
      <!--人的基本信息-->
      <div style="width: 95%;margin: 2% auto;box-sizing: border-box;padding: 10px 10px;display: flex;justify-content: center;
      border: 1px solid #ebeef5;border-radius: 4px;box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);">
          <div style="width: 40%;display: inline-block;">
              <img v-if="humanInfo.facePicUrl && humanInfo.facePicUrl.indexOf('http') > -1" :src="humanInfo.facePicUrl" style="width: 90%;height: 150px;" alt="" onclick="imgDisplay(this)">
              <img v-else :src="SERSVER_BASE_HOME+humanInfo.facePicUrl" style="width: 90%;height: 150px;" alt="" onclick="imgDisplay(this)">
          </div>
          <div style="width: 60%;display: inline-block;font-size: 14px;display: flex;align-items: center;flex-wrap: wrap;">
              <div style="width:100%;">
                  <span>姓名：</span>
                  <span v-text="humanInfo.humanName">袁永强</span>
              </div>
              <div style="width:100%;">
                  <span>性别：</span>
                  <span v-if="humanInfo.sex && humanInfo.sex == 1">男</span>
                  <span v-else>女</span>
              </div>
              <div style="width:100%;">
                  <span>证件号：</span>
                  <span v-if="humanInfo.credentialsNum != null && humanInfo.credentialsNum != '' " style="font-family:PingFangSC-Regular,PingFang SC;color:rgba(153,153,153,1);">
                      {{humanInfo.credentialsNum.replace(/^(.{6})(?:\d+)(.{4})$/, "$1****$2")}}
                  </span>
              </div>
              <div style="width:100%;">
                  <span>出生日期：</span>
                  <span v-text="humanInfo.birthday">1989-05-30</span>
              </div>
              <div style="width:100%;">
                  <span v-text="humanInfo.listLibName">重点涉毒人员</span>
              </div>

          </div>
      </div>

      <!--人的抓拍历史-->
      <div style="width: 95%;margin: 2% auto;border: 1px solid #ebeef5;border-radius: 4px;box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);">
          <div v-for="(item, index) in humanHistoryList" :key="index">
              <div class="layui-tab-content" style="">
                  <div class="layui-tab-item layui-show"
                       style="position: relative;margin:3%; border: 1px solid #ebeef5;border-radius: 4px;box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);">
                      <div style="position: relative;">
                          <div style="font-size: 13px;display: inline-block;">
                              <div style="box-sizing: border-box;padding: 10px 10px 5px 10px;">{{item.cameraName}}</div>
                              <div style="box-sizing: border-box;padding: 5px 10px 10px 10px;" v-text="item.alarmTime.substring(0,19)">00:00:00</div>
                          </div>

                          <span @click="getHumanDisposeRecord(item.eventInfoId,platformId)" v-if="item.eventInfoId" style="position: absolute;right: 5%;top: 50%;transform: translateY(-50%);padding: 8px 16px;
                          border: 1px solid #ebeef5;border-radius: 4px;box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);">查看</span>
                          <span @click="humanOrder(item.id,platformId,3,id)" v-else style="position: absolute;right: 5%;top: 50%;transform: translateY(-50%);padding: 8px 16px;
                          border: 1px solid #ebeef5;border-radius: 4px;box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);">派单</span>
                      </div>
                      <div style="text-align: center;">
                          <img v-if="item.facePicUrl && item.facePicUrl.indexOf('http') > -1" :src="item.facePicUrl" style="width:45%;height:100px;border: 1px solid #0091ff;" alt="" onclick="imgDisplay(this)">
                          <img v-else :src="SERSVER_BASE_HOME+item.facePicUrl" style="width:45%;height:100px;border: 1px solid #0091ff;" alt="" onclick="imgDisplay(this)">

                          <img v-if="item.facePicUrl &&  item.bkgPicMinUrl.indexOf('http') > -1" :src="item.bkgPicMinUrl" style="width:45%;height:100px;border: 1px solid #0091ff;" alt="" onclick="imgDisplay(this)">
                          <img v-else :src="SERSVER_BASE_HOME+item.bkgPicMinUrl" style="width:45%;height:100px;border: 1px solid #0091ff;" alt="" onclick="imgDisplay(this)">
                      </div>

                  </div>
              </div>
          </div>

          <!--分頁-->
          <div style="width: 205px;margin: 0 auto;" id="demo11"></div>
      </div>

  </div>
  <script src="../constant.js"></script>
  <script src="../assets/js/jquery/jquery-3.2.1.min.js"></script><script src="../assets/js/ajaxSetUp.js"></script>
  <script src="../assets/js/layui/layui.js"></script>
  <script src="./js/humanDetail.js"></script>
  <script>

    //人员抓拍
    var hphh = new Vue({
      el: "#humanHistory",
      data: {
        //抓拍历史列表
        humanHistoryList: [],
        //处置形成工单的信息
        humanInfo: {},
        //处置形成工单的历史列表
        humanInfoDisposeList: [],
        //人员id
        humanId: '',
        //平台id
        platformId: 0,
        //id
        id: '',

      },
    });

  </script>
</body>
<script src= "../waterMark.js" ></script>
</html>
