<!--
 * @Author: liukanglin
 * @Date: 2020-10-09 20:30:41
 * @LastEditors: liukanglin
 * @LastEditTime: 2020-12-03 09:38:31
 * @Desc: file content
 * @FilePath: \vue-cli-multiPage-master\src\pages\gradeResponse\index.html
-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="<%= process.env.NODE_ENV==='development'?'':'.' %>favicon.ico">
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  <script src="<%= process.env.NODE_ENV==='development'?'':'.' %>/constant.js"></script>
  <!-- <script src="//cdn.jsdelivr.net/npm/eruda"></script> -->
  <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js">
</script>
  <style>
    html,
    body {
      background-color: #F5F5F5;
    }
  </style>
  <title></title>
</head>

<body>
  <div id="app"></div>
  <script>
    resizeFontSize()
    window.onresize = function () {
      resizeFontSize()
    }

    function resizeFontSize() {
      //获取根元素
      const docEl = document.documentElement;
      // //console.log("根元素", docEl)
      //获取设备宽度
      const clientWidth = docEl.clientWidth;
      //console.log("clientWidth", clientWidth)
      //若未获取到设备宽度，则终止函数执行
      if (!clientWidth) return;
      //计算rem基础配置：设计图以750px为准时，px rem比例为1：100
      const fs = 100 * (clientWidth / 750);
      //为根元素字体赋值s
      //console.log("根元素字体", docEl.style.fontSize)
      docEl.style.fontSize = fs + 'px'
      //console.log("为根元素字体赋值", docEl.style.fontSize)
    }
    // eruda.init();
    // //console.log('控制台打印信息');
    // localStorage.setItem('token', 'WX_bbe4cb2adcae321da8213a066e1da9dc')
  </script>
</body>
<script src= "<%= process.env.NODE_ENV==='development'?'':'.' %>/waterMark.js" ></script>
</html>